<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('../partial/head.ejs') %>

  </head>
  <body>
    <h1>User List</h1>
    <%- include('../partial/navbar.ejs') %>
    <div class='container'>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>UserName</th>

        </tr>
      </thead>
      <tbody>
          <% for(let i=0;i<user.length;i++){ %>
        <tr>
          <td><%= user[i].id %></td>
          <td><%= user[i].username %> <%  if(user[i].type=='on'){ %> 
      
              <b> - Admin </b>
            <% } %>
          </td> 

        </tr>
        <% } %>
      </tbody>
    </table>
    <a class='btn btn-secondary' href="/shop"> Home </a>
</div>
  </body>
</html>
